.card{
    width: 300px;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    letter-spacing: 1px;
    position: relative;
}
.card .image-div{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    /* border-top-right-radius: 10px; */
    text-align: center;
}
.card img{
    height: 300px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}
.card .star{
    margin: 0;
    font-size: .9rem;
}
.card .heading{
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.card p{
    margin: 3px;
}
.card .price{
    font-weight: bold;
}
.like-btn{
    position: absolute;
    right: 10px;
    font-size: 50px;
    color: #ff385c;
    cursor: pointer;
    /* background-color: #ff385c; */
}
